<% include partials/header %>

    <div class="mdl-grid portfolio-max-width">

        <% for (let i = 0; i < games.length; i++) { %>

            <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
                <div class="mdl-card__media">
                    <img class="article-image" src="<%= games[i].imageUrl %>" border="0" alt="game cover image">
                </div>
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">
                        <%= games[i].title %>
                    </h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <%= games[i].publisher %>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href='/playgame?game=<%= games[i].imageUrl.substring(games[i].imageUrl.lastIndexOf("/")+1) %>'>Play</a>
                </div>
            </div>

            <% } %>
    </div>

    <% include partials/footer %>