<% include partials/header %>
    <h1>
        <%= title %>
    </h1>
    <iframe src="https://archive.org/embed/<%= title %>" width="560" height="384" frameborder="0" webkitallowfullscreen="true"
        mozallowfullscreen="true" allowfullscreen style="width: 800px;"></iframe>
    <% include partials/footer %>